In [1]:
import pandas as pd
import sqlite3 
from faker import Faker
import random
from datetime import datetime

In [2]:
df_channels = pd.read_excel('Channels_db.xlsx', index_col=0)
df_videos = pd.read_excel('Videos_db.xlsx', index_col=0)
df_comments = pd.read_excel('Comments_db.xlsx', index_col=0)
df_categories = pd.read_excel('Categories_db.xlsx', index_col=0)
df_projects = pd.read_excel('Projects_db.xlsx', index_col=0)
df_videos_cats = pd.read_excel('Videos_categories_db.xlsx', index_col=0)

df_dict = {
    "Channels": df_channels,
    "Videos": df_videos,
    "Comments": df_comments,
    "Categories": df_categories,
    "Projects": df_projects,
    "Videos_Categories": df_videos_cats
}

for name, df in df_dict.items():
    print(f"DataFrame: {name}")
    display(df.head())
    print('-----')

DataFrame: Channels

,ID,CreationDate,Title,Description,SubscriberCount
1,UCnDgIiMU3CyNHGP9wlLbgqw,2019-06-21,LABELSMART,–û–±—Ä–∞–∑–æ–≤–∞—Ç–µ–ª—å–Ω–æ-—Ä–∞–∑–≤–ª–µ–∫–∞—Ç–µ–ª—å–Ω—ã–µ —Ä–∞–∑–≥–æ–≤–æ—Ä–Ω—ã–µ —Ñ–æ—Ä...,1180000
2,UCXDerjAwOSH30mrOW80hQjA,2020-09-09,easycom,Easycom - –∫–∞–Ω–∞–ª —Å –∫–æ–º–∏–∫–∞–º–∏. –ù–æ–≤—ã–µ —Ñ–æ—Ä–º–∞—Ç—ã. –ù–æ–≤...,1180000
3,UCNqktdxgAADBj36dC7VGOgg,2016-08-30,LABELCOM,–≠—Ç–æ –∫–∞–Ω–∞–ª LABELCOM \n\n–ü–æ –≤–æ–ø—Ä–æ—Å–∞–º —Ä–µ–∫–ª–∞–º—ã –∏ —Å...,7350000

-----
DataFrame: Videos

,ID,Channel_ID,Project_ID,Title,Description,CreationDate,Duration,LikeCount,CommentCount,ViewCount,DislikeCount
1,KyAT9ERav2g,UCnDgIiMU3CyNHGP9wlLbgqw,5,"–ü–†–û –ö–û–ú–ê–ù–î–£ –ö–í–ù ""–•–õ–û–ë–´–°–¨"" #–º–Ω–µ—Å–º–µ—à–Ω–æ #–º–æ—Ä–≥—É–Ω–æ–≤...",NaN,2024-11-24,56,2305,20,87631,50
2,Ink77itokMI,UCnDgIiMU3CyNHGP9wlLbgqw,9,–ê–ù–ï–ö–î–û–¢ –û–¢ –ö–ê–¢–ò –ú–û–†–ì–£–ù–û–í–û–ô #–º–Ω–µ—Å–º–µ—à–Ω–æ #–º–æ—Ä–≥—É–Ω–æ...,NaN,2024-11-13,54,26620,492,1077597,1880
3,-XByR0UZUJg,UCnDgIiMU3CyNHGP9wlLbgqw,4,–üü´£–†–ù–û–°–¢–ê–† #–∞—Ä–≥—É–º–µ–Ω—Ç—ã,–°–º–æ—Ç—Ä–∏ –≤—ã–ø—É—Å–∫ —Ç–æ–ª—å–∫–æ –≤ VK –≤–∏–¥–µ–æ https://vk.cc/...,2023-07-10,16,107085,556,4621875,3516
4,OoVg3-zOOCw,UCnDgIiMU3CyNHGP9wlLbgqw,1,–ö–¢–û –í –°–ï–ú–¨–ï –û–¢–í–ï–ß–ê–ï–¢ –ó–ê –ë–Æ–î–ñ–ï–¢? #lockstock #me...,NaN,2024-06-30,15,105198,240,3013391,5221
5,9XLv5F3mBVY,UCnDgIiMU3CyNHGP9wlLbgqw,9,–û–ß–ï–ù–¨ –ñ–ï–°–¢–ö–ò–ô –ê–ù–ï–ö–î–û–¢ #–º–Ω–µ—Å–º–µ—à–Ω–æ,NaN,2023-12-14,49,823,22,43273,19

-----
DataFrame: Comments

,ID,Video_ID,Text,LikeCount,CreationDate,Sentiment
1,Ugw0LJIOf8AiG8TavBZ4AaABAg,7DyUugaXb4E,–ö–∞–∫ –≤—ã –æ–ø—É—Å—Ç–∏–ª–∏—Å—å –Ω–∞—Ö,0,2024-06-11,2
2,UgzBbvKfDfgc6-0p5E94AaABAg,i0JxJEBDiXU,–ß—É—à—å –∫–∞–∫–∞—è-—Ç–æ –≥–ª—É–ø–∞—è –ø—Ä–∏—á—ë–º,0,2023-04-07,2
3,UgwDCRjuTEiBDnTxwqB4AaABAg,2pV3k4iRX2s,–•–æ—á—É –¥—Ä—É–∂–∏—Ç—å —Å –ù–∞—Ç–∞—à–µ–π!),0,2022-09-18,1
4,UgxU0kFn7HW7xwRPwCx4AaABAg,jIB186el0Ok,–ë–∏–æ-–º—É—Å–æ—Ä ..,0,2024-05-27,2
5,UgxQJ13sN9mathjzuqB4AaABAg,vKUaROwjxIo,"–¢–∏–º–æ—Ç–∏ –∏ –ë—É—Ä—É–Ω–æ–≤, –¥–æ—Å—Ç–∞–≤–∏–ª–∏ –≤–∏–ª–∏–∫–æ–µ —É–¥–æ–≤–æ–ª—å—Å—Ç–≤...",0,2024-10-04,1

-----
DataFrame: Categories

   ID                    Title
0   1           Music_and_Arts
1   2                   Sports
2   3    Education_and_Society
3   4    Politics_and_Religion
4   5  Media_and_Entertainment

-----
DataFrame: Projects

   ID              Title                           Description
0   1          –ú–∏—Ä –°–º–µ—Ö–∞             –ü—Ä–æ–µ–∫—Ç –æ —é–º–æ—Ä–µ –∏ –∫–æ–º–µ–¥–∏–∏.
1   2     –ì–æ—Ä—è—á–∏–µ –º–∏–Ω—É—Ç—ã              –ü—Ä–æ–µ–∫—Ç –æ –±–∞–Ω—è—Ö –∏ –æ—Ç–¥—ã—Ö–µ.
2   3        –¢–µ–º–Ω—ã–µ –¥–µ–ª–∞  –ü—Ä–æ–µ–∫—Ç –æ –∫—Ä–∏–º–∏–Ω–∞–ª–µ –∏ —Ä–∞—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è—Ö.
3   4  –ê—Ä–≥—É–º–µ–Ω—Ç—ã –∏ —Ñ–∞–∫—Ç—ã         –ü—Ä–æ–µ–∫—Ç –æ —Ñ–∞–∫—Ç–∞—Ö –∏ –∞—Ä–≥—É–º–µ–Ω—Ç–∞—Ö.
4   5     –ù–æ—á–Ω–∞—è –∏—Å—Ç–æ—Ä–∏—è           –ü—Ä–æ–µ–∫—Ç –æ–± –∏—Å—Ç–æ—Ä–∏—è—Ö –Ω–∞ –Ω–æ—á—å.

-----
DataFrame: Videos_Categories

      Video_ID  Category_ID
0  KyAT9ERav2g            5
1  Ink77itokMI            5
2  -XByR0UZUJg            5
3  OoVg3-zOOCw            5
4  9XLv5F3mBVY            5

-----

In [51]:
# –°–æ–∑–¥–∞–Ω–∏–µ –±–∞–∑—ã

connection =  sqlite3.connect("yt_project.db")
cursor = connection.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Videos (
    ID TEXT PRIMARY KEY NOT NULL,
    Channel_ID INTEGER NOT NULL,
    Project_ID INTEGER,
    Title TEXT NOT NULL,
    Description TEXT,
    CreationDate DATE,
    Duration INTEGER CHECK (Duration >= 0),
    LikeCount INTEGER CHECK (LikeCount >= 0),
    DislikeCount INTEGER CHECK (DislikeCount >= 0),
    CommentCount INTEGER CHECK (CommentCount >= 0),
    ViewCount INTEGER CHECK (ViewCount >= 0),
    FOREIGN KEY (Channel_ID) REFERENCES Channels (ID) ON DELETE CASCADE
    FOREIGN KEY (Project_ID) REFERENCES Projects (ID) ON DELETE CASCADE
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Channels (
    ID TEXT PRIMARY KEY NOT NULL,
    Title TEXT NOT NULL,
    Description TEXT,
    CreationDate DATE,
    SubscriberCount INTEGER CHECK (SubscriberCount >= 0)
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Comments (
    ID TEXT PRIMARY KEY NOT NULL,
    Video_ID INTEGER NOT NULL,
    Text TEXT NOT NULL,
    CreationDate DATE,
    LikeCount INTEGER CHECK (LikeCount >= 0),
    Sentiment INTEGER,
    FOREIGN KEY (Video_ID) REFERENCES Videos (ID)
        ON DELETE CASCADE
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Videos_Categories (
    Video_ID INTEGER NOT NULL,
    Category_ID INTEGER NOT NULL,
    PRIMARY KEY (Video_ID, Category_ID),
    FOREIGN KEY (Video_ID) REFERENCES Videos (ID) ON DELETE CASCADE
    FOREIGN KEY (Category_ID) REFERENCES Categories (ID) ON DELETE CASCADE
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Categories (
    ID INTEGER PRIMARY KEY NOT NULL,
    Title TEXT NOT NULL
)
''')


cursor.execute('''
CREATE TABLE IF NOT EXISTS Projects (
    ID INTEGER PRIMARY KEY NOT NULL,
    Title TEXT NOT NULL,
    Description TEXT
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Costs (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Project_ID INTEGER NOT NULL,
    Category TEXT NOT NULL,
    Counterparty TEXT NOT NULL,
    CreationDate DATE,
    Amount INTEGER CHECK (Amount >= 0),
    FOREIGN KEY (Project_ID) REFERENCES Projects (ID) ON DELETE CASCADE
)
''')

cursor.execute('''
CREATE TABLE IF NOT EXISTS Incomes (
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    Project_ID INTEGER NOT NULL,
    Category TEXT NOT NULL,
    Counterparty TEXT NOT NULL,
    CreationDate DATE,
    Amount INTEGER CHECK (Amount >= 0),
    FOREIGN KEY (Project_ID) REFERENCES Projects (ID) ON DELETE CASCADE
)
''')

connection.commit()
connection.close()

In [52]:
# –ì–µ–Ω–µ—Ä–∞—Ü–∏—è —Ç–∞–±–ª–∏—Ü incomes –∏ costs

expenses_categories = [
    "–ü—Ä–æ–∏–∑–≤–æ–¥—Å—Ç–≤–æ –≤–∏–¥–µ–æ", "–ú–æ–Ω—Ç–∞–∂", "–û–±–æ—Ä—É–¥–æ–≤–∞–Ω–∏–µ", "–ê—Ä–µ–Ω–¥–∞ —Å—Ç—É–¥–∏–∏",
    "–ì–æ–Ω–æ—Ä–∞—Ä—ã –∞–∫—Ç—ë—Ä–∞–º", "–ú–∞—Ä–∫–µ—Ç–∏–Ω–≥ –∏ —Ä–µ–∫–ª–∞–º–∞", "–ü—Ä–æ–ø—É—Å–∫–Ω–∞—è —Å–ø–æ—Å–æ–±–Ω–æ—Å—Ç—å –∏ —Ö–æ—Å—Ç–∏–Ω–≥",
    "–ì—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–π –¥–∏–∑–∞–π–Ω", "–ó–≤—É–∫–æ–∑–∞–ø–∏—Å—å –∏ –º–∏–∫—à–∏—Ä–æ–≤–∞–Ω–∏–µ", "–ü—É—Ç–µ–≤—ã–µ —Ä–∞—Å—Ö–æ–¥—ã",
    "–ö–æ—Å—Ç—é–º—ã –∏ —Ä–µ–∫–≤–∏–∑–∏—Ç", "–ê–≤—Ç–æ—Ä—Å–∫–∏–µ –ø—Ä–∞–≤–∞ –∏ –ª–∏—Ü–µ–Ω–∑–∏–∏", "–û–±—É—á–µ–Ω–∏–µ –∏ —Ä–∞–∑–≤–∏—Ç–∏–µ –ø–µ—Ä—Å–æ–Ω–∞–ª–∞",
    "–ê–¥–º–∏–Ω–∏—Å—Ç—Ä–∞—Ç–∏–≤–Ω—ã–µ —Ä–∞—Å—Ö–æ–¥—ã", "–¢–µ—Ö–Ω–∏—á–µ—Å–∫–∞—è –ø–æ–¥–¥–µ—Ä–∂–∫–∞", "–ö–æ–Ω—Å—É–ª—å—Ç–∞—Ü–∏–∏ –∏ —é—Ä–∏–¥–∏—á–µ—Å–∫–∏–µ —É—Å–ª—É–≥–∏",
    "–ú–µ—Ä–æ–ø—Ä–∏—è—Ç–∏—è –∏ –≤—Å—Ç—Ä–µ—á–∏", "–ü–æ–¥–ø–∏—Å–∫–∏ –Ω–∞ –ø—Ä–æ–≥—Ä–∞–º–º–Ω–æ–µ –æ–±–µ—Å–ø–µ—á–µ–Ω–∏–µ",
    "–ü–æ–¥–¥–µ—Ä–∂–∫–∞ —Å–æ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–µ—Ç–µ–π", "–ê–Ω–∞–ª–∏—Ç–∏–∫–∞ –∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è"]

income_categories = [
    "–†–µ–∫–ª–∞–º–∞ –Ω–∞ YouTube", "–°–ø–æ–Ω—Å–æ—Ä—Å—Ç–≤–æ", "–ü—Ä–æ–¥–∞–∂–∞ –º–µ—Ä—á–∞", "–ü–ª–∞—Ç–Ω—ã–µ –ø–æ–¥–ø–∏—Å–∫–∏",
    "–î–æ—Ö–æ–¥ –æ—Ç –ø–∞—Ä—Ç–Ω–µ—Ä—Å–∫–∏—Ö –ø—Ä–æ–≥—Ä–∞–º–º", "–î–æ–Ω–∞—Ç—ã –∏ –ø–æ–∂–µ—Ä—Ç–≤–æ–≤–∞–Ω–∏—è", "–ü—Ä–æ–≤–µ–¥–µ–Ω–∏–µ –º–µ—Ä–æ–ø—Ä–∏—è—Ç–∏–π",
    "–û–Ω–ª–∞–π–Ω-–∫—É—Ä—Å—ã –∏ –º–∞—Å—Ç–µ—Ä-–∫–ª–∞—Å—Å—ã", "–ü—Ä–æ–¥–∞–∂–∞ –±–∏–ª–µ—Ç–æ–≤ –Ω–∞ —à–æ—É", "–ü–∞—Ä—Ç–Ω—ë—Ä—Å–∫–∏–µ —Å—Å—ã–ª–∫–∏ –∏ –ø—Ä–æ–≥—Ä–∞–º–º—ã",
    "–õ–∏—Ü–µ–Ω–∑–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–æ–Ω—Ç–µ–Ω—Ç–∞", "–ü–ª–∞—Ç–Ω—ã–µ –≤–µ–±–∏–Ω–∞—Ä—ã", "–ü—Ä–æ–¥–∞–∂–∞ —Ü–∏—Ñ—Ä–æ–≤–æ–≥–æ –∫–æ–Ω—Ç–µ–Ω—Ç–∞",
    "–£—Å–ª—É–≥–∏ –ø–æ —Å–æ–∑–¥–∞–Ω–∏—é –∫–æ–Ω—Ç–µ–Ω—Ç–∞", "–ö–æ–Ω—Å—É–ª—å—Ç–∞—Ü–∏–æ–Ω–Ω—ã–µ —É—Å–ª—É–≥–∏", "–§–∏–Ω–∞–Ω—Å–∏—Ä–æ–≤–∞–Ω–∏–µ –∫—Ä–∞—É–¥—Ñ–∞–Ω–¥–∏–Ω–≥–∞",
    "–†–æ—è–ª—Ç–∏ –∏ –ª–∏—Ü–µ–Ω–∑–∏–æ–Ω–Ω—ã–µ –æ—Ç—á–∏—Å–ª–µ–Ω–∏—è", "–†–µ–∫–ª–∞–º–∞ –≤ —Å–æ—Ü–∏–∞–ª—å–Ω—ã—Ö —Å–µ—Ç—è—Ö",
    "–ü—Ä–æ–¥–∞–∂–∞ —Ü–∏—Ñ—Ä–æ–≤—ã—Ö –ø—Ä–æ–¥—É–∫—Ç–æ–≤", "–ü—Ä–µ–º–∏—É–º-–∫–æ–Ω—Ç–µ–Ω—Ç"]

random.seed(10)

def generate_financial_data(num_records, data_type='costs', min_amount=50000, max_amount=900000):
    data = []
    categories = expenses_categories if data_type == 'costs' else income_categories
    
    for _ in range(num_records):
        project_id = random.choice(df_projects['ID'].to_list())
        category = random.choice(categories)
        counterparty = fake.company()
        creation_date = fake.date_between(start_date=start_date, end_date=end_date)
        amount = random.randint(min_amount, max_amount)
        data.append((project_id, category, counterparty, creation_date, amount))
    
    return data

connection = sqlite3.connect("yt_project.db")
cursor = connection.cursor()

fake = Faker('ru_RU')

start_date = datetime(2016, 8, 30)
end_date = datetime(2024, 12, 23)

costs_data = generate_financial_data(30)
incomes_data = generate_financial_data(30, data_type='incomes')

cursor.executemany(''' INSERT INTO Costs (Project_ID, Category, Counterparty, CreationDate, Amount)
                       VALUES (?, ?, ?, ?, ?) ''', costs_data)

cursor.executemany(''' INSERT INTO Incomes (Project_ID, Category, Counterparty, CreationDate, Amount)
                       VALUES (?, ?, ?, ?, ?) ''', incomes_data)

connection.commit()
connection.close()

In [54]:
# –î–æ–±–∞–≤–ª–µ–Ω–∏–µ –æ—Å—Ç–∞–ª—å–Ω—ã—Ö –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–æ–≤

connection = sqlite3.connect("yt_project.db")

for table_name, df in df_dict.items():
    df.to_sql(table_name, connection, if_exists='append', index=False)

connection.commit()
connection.close()